<h1>Conceptos Básicos</h1>

<p>Qué es un ​resource​ en el contexto de una aplicación web REST en Ruby on Rails?</p>


<p>Qué puede hacerse con un ​resource​?</p>

<p>Qué es RESTful routing?</p>
<ul>
  <li>Cuantas acciones básicas tiene esta filosofía?</li>
  <ul>
    <li>Cuatro.</li>
  </ul>
  <li>Cuales son?</li>
  <li>Cuales verbos HTTP se utilizan en cada una de ellas?</li>
</ul>