<% provide(:title, "Basics") %>

<h1>Conceptos Básicos</h1>

<h4>Qué es un ​resource​ en el contexto de una aplicación web REST en Ruby on Rails?</h4>
<p>Un resource es un modelo el cual nos permite definir y ejecutar funciones basicas (CRUD) en datos y estados.</p>

<h4>Qué puede hacerse con un ​resource​?</h4>
<p>Con un resource se pueden realizar funciones como crear, leer, actualizar, y borrar datos, por ejemplo, en una base de datos.</p>

<h4>Qué es RESTful routing?</h4>
<p>RESTful routing es una forma particular de crear rutas. Específicamente, permite una convención para un mapeo entre verbos HTTP y las funciones CRUD.</p>

<ul>
  <li>
    <h4>Cuantas acciones básicas tiene esta filosofía?</h4>
    <p>Siete.</p>
  </li>
  <li>
    <h4>Cuales son?</h4>
    <p>Index, show, new, edit, create, update, destroy.</p>
  </li>
  <li>
    <h4>Cuales verbos HTTP se utilizan en cada una de ellas?</h4>
    <p>GET, POST, PATCH, DELETE. </p>
    <p>Index: GET, show: GET, new: GET, edit: GET, create: POST, update: PATCH, destroy: DELETE.</p>
  </li>
</ul>