<% provide(:title, "Git") %>

<h1>Conceptos Git</h1>
<ul>
  <li>Inicialización de un repositorio de git nuevo en una aplicación existente</li>
  <li>Creación de un branch nuevo</li>
  <li>Realizar un commit incluyendo todos los cambios actuales</li>
  <li>Cómo enviar el código al repositorio remoto</li>
  <li>Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull.</li>
  <li>Diferencia entre un reset y revert</li>
  <li>Además de cambiar de ramas, para qué más se puede utilizar el comando git checkout</li>
  <li>Como puede ver los commits que se han realizado en el proyecto</li>
  <li>He modificado dos archivos y quiero hacer un commit por cada uno de ellos, cómo lo puedo hacer?</li>
</ul>