<h1>Paginas Estáticas Ruby</h1>

<p>Hora Actual: </p>

<p>Conceptos Básicos [<a href="/static_pages/basics">más info</a>]</p>

<p>Conceptos Ruby [<a href="/static_pages/ruby">más info</a>]</p>

<p>Conceptos Git [<a href="/static_pages/git">más info</a>]</p>