<h1>Conceptos Ruby</h1>

<ul>
  <li>Interpolación de strings</li>
  <li>Cómo se declara un array y cómo se adiciona un elemento al final del array</li>
  <li>Cómo se itera un array utilizando el comando each</li>
  <li>Cómo se declara un hash</li>
  <li>Cómo se itera un hash utilizando el comando each</li>
  <li>Que es un block en ruby? De un ejemplo de cómo utilizarlo</li>
  <li>Cual es la convención en Ruby a la hora de nombrar variables?</li>
  <li>Qué son attr_reader, attr_writer y attr_accesor? Para qué sirven?</li>
</ul>

